{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 12, "knowledge_revision": 26, "git_revision": "7e07bee83ac871cbd0ab80154e36d6e43eef5a26", "hash": "67766e36a4017630d397d673f8f99aef", "format-version": 4, "code-base-name": "tic_tac_toe_backend", "filename": "tic_tac_toe_backend/requirements.txt", "revision_history": [{"26": "7e07bee83ac871cbd0ab80154e36d6e43eef5a26"}]}